<div class = "container">
  <ul class = "feed-list">
    <!-- Test if page.category is specified and filter list to be output -->
    {% if page.category And page.category != empty And page.category != nil %}
      {% assign list_of_posts = site.categories[page.category] %}
    {% else %}
      {% assign list_of_posts = site.posts %}
    {% endif %}
    {% for post in list_of_posts %}
      <li class = "feed-list-element">
        <div class = "row">
          <!-- Image column -->
          <div class = "col-md-2 col-md-offset-2">
            <a href = "{{ post.url }}">
              <img class = "feed-img" src = "{{ site.baseurl }}{% if post.image %}{{ post.image }}{% else %}{{site.default-img}}{% endif %}">
            </a>
          </div>
          <!-- Title, date and excerpt column -->
          <div class = "col-md-10 col-md-offset-2">
            <h4 class = "feed-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <span>Published: {{ post.date | date_to_long_string }} </span>
            <p class = "text-muted">{{ post.excerpt }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
