<div class = "jumbotron-fluid border-bottom border-secondary border-3 mb-3 page-header">
  <div class = "container text-center pb-3">
    <h1 class = "display-4 d-inline-block page-header-text-color">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <p class = "lead d-inline-block page-header-text-color">{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
    <hr class = "my-4">
    {% if site.github.is_project_page %}
      <a href = "{{ site.github.repository_url }}" class = "btn btn-link btn-lg d-inline-block border-white">View on Github</a>
    {% endif %}
    {% if site.show_downloads %}
      <a href = "{{ site.github.zip_url }}" class = "btn btn-link btn-lg d-inline-block border-white"><i class = "fa fa-download"></i> Download .zip</a>
      <a href = "{{ site.github.tar_url }}" class = "btn btn-link btn-lg d-inline-block border-white"><i class = "fa fa-download"></i> Download .tar</a>
    {% endif %}
  </div>
</div>