<div class = "container-fluid sticky-top navbar-container clearfix">
  <div class = "container">
    <!-- Check if we are displaying the navigation -->
    {% if site.show_navigation %}
      <nav class = "navbar navbar-expand-lg mb-0 pb-0 d-inline-block">
        <!-- Add button for collapsing the navigation bar -->
        <button class = "navbar-toggler" id = "toggleButton" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded = "false" aria-label = "Toggle navigation">
          <span>
            <i class="fas fa-bars text-white"></i>
          </span>
        </button>
  
        <!-- Start the collapsable div -->
        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
          <!-- Start the navigation tabs -->
          <ul class = "navbar-nav mr-auto" id = "nav-tab">
            {% for node in site.data.navigation %}
              {% if page.url == node.link %}
                <li class = "nav-item  nav-item-customizer-underline">
                  <a class = "nav-link" href = "{{ node.link }}">
                    {{ node.name }}
                  </a> 
                </li>
              <!-- The non-active class -->
              {% else %}
                <li class = "nav-item">
                  <a class = "nav-link" href = "{{ node.link }}">
                    {{ node.name }}
                  </a> 
                </li>      
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
      <!-- Check if we are displaying the search bar -->
      {% if site.show_search_bar %}
        <div class = "form-inline float-right">
          <div class = "input-group mt-2">
            <input class = "form-control " type = "text" placeholder = "Search" aria-label = "Search" id = "search-input">
            <div class = "input-group-append">
              <button type = "button" class = "btn btn-primary"  id = "searchButton" data-toggle = "modal" data-target = "#exampleModal">
                <span>
                  <i class = "fas fa-search text-white"></i>
                </span>
              </button>
            </div>
          </div>    
        </div>      
      {% endif %}     
    {% endif %}
  </div>
</div>

<!-- Modal - Needs to be outside to avoid problems when nested inside a relatively positioned element -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search results</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id = "results-container"></ul>
      </div>
    </div>
  </div>
</div>  

<!-- Script to toggle class when the navbar collapses 
<script>
  $(".navbar-toggler").click(function () {
    $("li").toggleClass("nav-item-customizer-collapsed");
  })
</script>
-->

<!-- Add javascript to let enter open the modal -->
<script>
  var go = document.getElementById("searchButton");
  var txt = document.getElementById("search-input");

  txt.addEventListener("keypress", function(event) {
    if (event.keyCode == 13)
      go.click();
  });
</script>

<!-- Script pointing to search-script.js -->
<script src = "/assets/js/jekyll-search.js" type = "text/javascript"></script>

<!-- The configuration script -->
<script>
  SimpleJekyllSearch({
    searchResultTemplate: '<div class = "row feed-list-element"><div class = "col-md-2 col-md-offset-2"><a href = {url}><img class = "search-img" src = {image}></a></div><div class = "col-md-10 col-md-offset-2"><h4 class = "feed-title"><a href={url}>{title}</a></h4><span>Published: {date} </span></div></div>',
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json'
  })
</script>
