<div class = "container ">
  <div class = "post-container">
    <div class = "post-image-wrap">
      <div class = "post-image" style = "background-image: url({{ page.project-picture }})"></div>
    </div>

    <div class = "post-content-wrap">
      <div class = "post-content">
        <table>
          <!-- Row -->
          <tr>
            <td class = "font-weight-bold pr-4">
              Project title
            </td>
            <td>
              {{ page.project-title }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td class = "font-weight-bold pr-4">
              Acronym
            </td>
            <td>
              {{ page.acronym }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td class = "font-weight-bold pr-4">
              My role
            </td>
            <td>
              {{ page.role }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td class = "font-weight-bold pr-4">
              Funder
            </td>
            <td>
              {{ page.funder }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td class = "font-weight-bold pr-4">
              post
            </td>
            <td>
              {{ page.post }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td class = "font-weight-bold pr-4">
              Time period
            </td>
            <td>
              {{ page.period }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td class = "font-weight-bold pr-4">
              Website
            </td>
            <td>
              <a href = "#">{{ page.website }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
