{% assign default-img-url = "https://github.com/edsandorf/pro-theme/blob/master/assets/img/default-img.jpg?raw=true" %}

<div class = "container">
  <div class = "row">
    <div class = "col-lg-12 col-lg-offset-2">
      <ul class = "timeline">
        <!-- Test if page.category is specified and filter list to be output -->
        {% if page.category And page.category != empty And page.category != nil %}
          {% assign list_of_posts = site.categories[page.category] %}
        {% else %}
          {% assign list_of_posts = site.posts %}
        {% endif %}
        {% for post in list_of_posts %}
          {% assign loop_index = forloop.index | modulo: 2 %}
          {% capture class %}
            {% if loop_index == 0 %}
              timeline-inverted
            {% endif %}
          {% endcapture %}
        
          <li class = "{{ class }}">
            <div class = "timeline-image">
              <a href = "{{ post.url }}">
                <img class = "rounded-circle round-circle-extended img-responsive" src = "{% if post.image %}{{ site.baseurl }}{{ post.image }}{% else %}{{default-img-url}}{% endif %}"> 
              </a>
            </div>
            <div class = "timeline-panel">
              <div class = "timeline-heading">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <h5 class = "subheading">{{ post.subtitle }}</h5>
                <span>Published: {{ post.date | date_to_long_string }} </span>
              </div>
              <div class = "timeline-body">
                <p class = "text-muted">{{ post.excerpt }}</p>
              </div>
            </div>
          </li>
        {% endfor %}
        <li class = "timeline-inverted">
          <div class = "timeline-image">
            <img class = "rounded-circle round-circle-extended img-responsive" src = "{% if post.image %}{{ site.baseurl }}{{ post.image }}{% else %}{{default-img-url}}{% endif %}">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
