.feed-list {
  list-style-type: none;
}

.feed-list-element {
  margin-bottom: 25px;
  position: relative;
}

.feed-title {
  margin-top: 0rem;
}

.feed-img {
  position: relative;
  border: 2px $theme-gray solid;
  border-radius: 4px;
  padding: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 150px;

  &:hover {
    box-shadow: 0 0 2px 1px $color-primary;
  }
}
