.page-header {
  position: relative;
  min-height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  padding: 60px 0 100px;
  min-height: 450px;
}



@media only screen and (min-width: 1220px) {
  .page-header {
    padding: 160px 0 220px;
    min-height: 650px;
  }
}

@media only screen and (min-width: 768px) {
  .page-header {
    padding: 120px 0 180px;
    min-height: 550px;
  }
}

/*
.page-header-offset {
  margin-bottom: -65px;
  padding-bottom: 50px;
}
*/

.page-header-normal {
  min-height: 150px !important;
}

.page-header-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-background {
  background-image: linear-gradient(360deg, $color-primary, $color-secondary);
}

.page-header-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(19, 41, 48, 0.7);
}

.page-header-content {
  position: relative;
  margin: auto;
  padding: 0 20px;
  padding-top: 0;
  color: $text-color-secondary;
}

@media only screen and (min-width: 1220px) {
  .page-header-content {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .page-header-content {
    padding-top: 50px;
  }
}


.page-header-text-color {
  color: $text-color-secondary;
}

.page-header-hr-color {
  background-color: transparent;
  border-top: 1px solid $text-color-secondary;
}

.page-header a {
  color: $text-color-secondary;
  text-decoration: none;
  
  &:hover {
    color: $text-color-primary;
    text-decoration: none;
  }
}

.page-header.fab {
  color: $text-color-secondary;
  
  &:hover {
    color: $text-color-primary;
    text-decoration: none;
  }  
}

.page-header.fas {
  color: $text-color-secondary;
  
  &:hover {
    color: $text-color-primary;
    text-decoration: none;
  }
}