/* Import variables */
@import "variables";
@import "prism";
@import "timeline";

/* Body */
body {
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  font-family: Verdana, Geneva, sans-serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Images */
img {
  max-width: 100%;
}

/* Section headings */
h1,
h2, 
h3, 
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: $heading-color;
}

/* Hyperlinks */
a {
  color: $hyperlink-color;
  text-decoration: none;
  
  &:hover {
    color: $heading-color;
    text-decoration: none;
  }
}

/* Header */
.page-header {
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: linear-gradient(360deg, $header-bg-color, $header-bg-color-secondary);
  min-height: 400px;
}

.page-header-normal {
  min-height: 150px !important;
}

.page-header-text-color {
  color: $header-heading-color;
}

.page-header-hr-color {
  background-color: transparent;
  border-top: 1px solid $header-heading-color;
}

.page-header a {
  color: $header-heading-color;
  text-decoration: none;
  
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.page-header.fab {
  color: $header-heading-color;
  
  &:hover {
    color: $text-color;
    text-decoration: none;
  }  
}

.page-header.fas {
  color: $header-heading-color;
  
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

/* Navigation */
.navbar-container {
  background-color: white;
  border-bottom: 1px $theme-black solid;
}

.nav-item-customizer {
  color: $header-heading-color;
  background-color: $header-bg-color-secondary;
  border-left: 1px $theme-black solid;
  border-top: 1px $theme-black solid;
  border-right: 1px $theme-black solid;
  position: relative;
  top: 1.4px;
  border-bottom: 1px $header-bg-color-secondary;
  border-radius: .3em .3em 0em 0em;
}

.nav-item-customizer-collapsed {
  background-color: white;
  border: 0px;
  color: $header-heading-color;
}

.nav-link-customizer {
  color: white;
}

/* Removes the bottom grey border form the nav-tabs */
.nav-tabs {
  border-bottom: 0px;
}

#toggleButton {
  background-color: $header-bg-color-secondary;
  border-color: $theme-gray;
  padding: 7.5px 12.5px;
  margin: 5px;
}

/* Search */

#searchButton {
  background-color: $header-bg-color-secondary;
  border-color: $theme-gray;
  margin-left: 0px;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}


/* Feed */
.feed-list {
  list-style-type: none;
}

.feed-list-element {
  margin-bottom: 50px;
  position: relative;
}

.feed-title {
  margin-top: 0rem;
}

.feed-img {
  border: 1px $theme-gray solid;
  border-radius: 4px;
  padding: 5px;

  
  &:hover {
    box-shadow: 0 0 2px 1px $heading-color;
  }
}

.feed-left {
  position: absolute;
  top: 5px;
  width: 150px;
  min-width: 150px;
}

.feed-right {
  margin-left: 160px;
  width: calc(100% - 160px);
}

.card-img-top {
    &:hover {
    box-shadow: 0 0 2px 1px $heading-color;
  }
}


.card-button {
  border: none;
  outline: none;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: $header-bg-color-secondary;
  color: white;
  
  &:hover {
    background-color: $header-bg-color;
    text-decoration: none;
    color: white;
  }
}


/* Blockquote */
blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: $blockquote-text-color;
  border-left: 0.3rem solid $border-color;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/* To-the-top button */
#myBtn .fas {
  color: white;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0px; /* Place the button at the bottom of the page */
  right: calc(0px); 
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  margin: 0;
  padding: 0 5px;
  border-radius: 5px; /* Rounded corners */
  background-color: $header-bg-color-secondary;
  color: white;
  
  &:hover {
    background-color: $header-bg-color;
    text-decoration: none;
    color: white;
  }
}

/* Footer */
.fab {
  color: $header-bg-color-secondary;
  
  &:hover {
    color: $header-bg-color;
    text-decoration: none;
  }  
}

.fas {
  color: $header-bg-color-secondary;
  
  &:hover {
    color: $header-bg-color;
    text-decoration: none;
  }
}
