/* Import variables */
@import "variables";
@import "prism";
@import "navigation";
@import "search";
@import "timeline";
@import "card-deck";
@import "feed";
@import "to-the-top";
@import "polaroid-img";
@import "carousel";
@import "postcard";


/* Body */
body {
  font-size: 16px;
  line-height: 1.5;
  color: $text-color-primary;
  font-family: Verdana, Geneva, sans-serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.container-extended {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Images */
img {
  max-width: 100%;
}

.round-circle-extended {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Section headings */
h1,
h2, 
h3, 
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: $color-primary;
}

/* Hyperlinks */
a {
  color: $color-secondary;
  text-decoration: none;
  
  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

/* Header */
.page-header {
  color: $text-color-secondary;
  background-color: $color-primary;
  background-image: linear-gradient(360deg, $color-primary, $color-secondary);
  min-height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.page-header-offset {
  margin-bottom: -65px;
  padding-bottom: 50px;
}

.page-header-normal {
  min-height: 150px !important;
}

.page-header-text-color {
  color: $text-color-secondary;
}

.page-header-hr-color {
  background-color: transparent;
  border-top: 1px solid $text-color-secondary;
}

.page-header a {
  color: $text-color-secondary;
  text-decoration: none;
  
  &:hover {
    color: $text-color-primary;
    text-decoration: none;
  }
}

.page-header.fab {
  color: $text-color-secondary;
  
  &:hover {
    color: $text-color-primary;
    text-decoration: none;
  }  
}

.page-header.fas {
  color: $text-color-secondary;
  
  &:hover {
    color: $text-color-primary;
    text-decoration: none;
  }
}

/* Footer */
.body-push {
  min-height: calc(100vh - 250px); // subtract the height + margin of footer
}

.page-footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;
  height: calc(100px + 100px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fab {
  color: $color-secondary;
  
  &:hover {
    color: $color-primary;
    text-decoration: none;
  }  
}

.fas {
  color: $color-secondary;
  
  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

/* Blockquote */
blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: $text-color-blockquote;
  border-left: 0.3rem solid $color-primary;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/* Div */
.col-centered {
  float: none;
  margin: 0 auto;
}
