/* Headers */
$header-heading-color: #fff !default;
$header-bg-color: #358ccb !default;
$header-bg-color-secondary: #46b2ff !default;

/* Text color */
$heading-color: #358ccb !default;
$heading-color-secondary: #46b2ff !default;

$text-color: #010203 !default;

$hyperlink-color: #46b2ff !default;

$blockquote-text-color: #949292 !default;

/* Borders */
$border-color: #358ccb !default;

/* Other */
$theme-gray: #ced4da;
$theme-black: #343a40;

$code-background: #f7f7f7;