/* Color pallette */
$color-primary: #009933 !default;
$color-secondary: #00cc44 !default;

$text-color-primary: #010203 !default;
$text-color-secondary: #fff !default;
$text-color-blockquote: #949292 !default;

/* Other */
$theme-gray: #f4f5f6;
$theme-black: #343a40;
$theme-white: #ffffff;
