<!DOCTYPE html>
<html lang = "{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  
  <body>
    {% include js.html %}
    
    <div class = "body-push">
      {% include navigation.html %}
    
      <!-- Check if the page is a landing page -->
      <div class = "page-header page-header-offset page-header-background">
        {% include header.html %}
      </div>
    
      <div class = "container clearfix">
        {{ content }}
      </div>
    
      {% if site.to_the_top %}
        {% include to-the-top.html %}
      {% endif %}
    </div>

    {% include footer.html %}
    
  </body>
</html>
